* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(237, 237, 237);
}
.page {
  padding: 1rem;
}
.bgImg {
  width: 80%;
  height: 50vh;
  margin: auto;
  margin-left: 8rem;
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
}
.todo {
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 10rem;
  right: 30rem;
}
.todoTitle {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.todoBtn {
  margin: 1rem;
  margin-bottom: 0rem;
}
.todoBtn button {
  background-color: #367bf5;
  border-radius: 20px;
  border: 0;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
}
.todoList {
  width: 40vw;
  height: 60vh;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 10px white;
  overflow: auto;
}
.textTodo {
  margin: 1rem;
  margin-bottom: 0rem;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
}
.textTodo h1 {
  text-shadow: 1px 2px 4px black;
}
.todoInputPage {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.21);
  position: fixed;
  top: 0;
}
.submitContainer button {
  background-color: #367bf5;
  border-radius: 20px;
  border: 0;
  color: white;
  font-size: 1rem;
  font-size: 1.2rem;
}
.popup {
  background-color: white;
  height: 70vh;
  width: 25vw;
  border-radius: 20px;
  padding: 1rem;
  display: block;
  justify-content: center;
  box-shadow: 0px 0px 10px white;
  margin: auto;
}
.allInputs {
  padding: 1rem;
}
.submitContainer {
  display: flex;
  justify-content: center;
}
.nameInput input {
  width: 90%;
  border-radius: 30px;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-color: #367bf5;
  background-color: #c481ff;
}
.desInput textarea {
  width: 90%;
  resize: none;
  border-radius: 30px;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-color: #367bf5;
  background-color: #c481ff;
}
.priorityInput {
  padding: 0.5rem;
}
.priorityInput select {
  border-radius: 10px;
  font-size: 1rem;
  border-color: #367bf5;
  background-color: #c481ff;
}
.name,
.description,
.priority {
  margin: 0.5rem 0rem;
}
.alignData {
  display: flex;
  justify-content: space-between;
  margin: 0rem 0.5rem;
  padding: .5rem;
}
.get{
    display: flex;
    justify-content: space-between;
}
.get{
    font-weight: bold;
    font-size: 1.5rem;
}
.alignData{
    border-bottom: 2px solid grey;
    height: 6rem;
    padding: 1rem;
}
.deleteFont{
    background-color: transparent;
    border: 0;
    color: red;
    font-size: 2rem;
}